body {
    font-family: Arial;
    margin: 0px;
}

#canvas {
    margin: 10px;
}

#menubar {
    position: fixed;
    padding: 0px;
    height: 50px;
    width: 100%;
    background: navy;
    color: white;
    font-weight: bold;
    z-index: 100;
}

#menu li {
    color: white;
    border-radius: 10px;
    list-style-type: none;
    padding: 1px 10px 1px 10px;
    margin: 1px 2px 1px 2px;
    position: relative;
}

#menu li.disabled {
    color: lightgray;
}

#menu > li {
    display: inline;
}

#menu .popup {
    position: absolute;
    margin: 1px;
    padding: 1px;
    left: 10px;
    width: 200px;
}

#menu .popup li {
    background-color: white;
    color: navy;
    border: 1px solid navy;
    box-shadow: 2px 3px 1px 1px navy;
}

.showType {
    float: left;
    vertical-align:top;
    font-size: 8pt;
    color: black;
    background-color: lime;
}

.box {
    border-radius: 5px;
    position: static;
    display: table;
    float: left;
    margin: 1px;
}

.box.selected {
    background: gold;
    background: linear-gradient(top, gold 0%, orange 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(gold), to(orange));
    background: -moz-linear-gradient(top,  gold,  orange); 
}

.box.float:not(.selected) {
    background: moccasin;
}

.box.float {
    position: absolute;
    border: 1px solid maroon;
    border-radius: 10px;
    box-shadow: 3px 5px 3px 2px rgba(128, 0, 0, 0.5);
    padding: 3px;
    z-index: 50;
}

.box.error {
    border: 2px solid red;
    margin: 3px;
    box-shadow: 0px 0px 3px 2px red;
}

.box.arg {
    border: 1px solid purple;
    padding: 0px 15px 0px 15px;
    color: purple;
    font-style: italic;
    border-radius: 10px;
}

.box.Column > div {
    clear: both;
}
.box.Column > .box {
    margin: 2px 0 2px 20px;
}
.box.Row > .box {
    margin: 0 10px 0 10px;
}

.box.text {
    padding: 0px 2px 0px 2px;
    margin: 0px 1px 0px 1px;
}

.box-body > .box {
    clear: both;
    margin: 1px 0 3px 20px;
}

.box-text {
    font-weight: bold;
    color: indigo;
    float: left;
    margin: 0px 2px 1px 2px;
}

.box-text2 {
    color: firebrick;
    float: left;
    margin: 0px 2px 1px 2px;
}

.box-else {
    clear: both;
    margin: 0;
}