body {
    font-family: Arial;
    margin: 0px;
}

#canvas {
    margin: 10px;
}

#menubar {
    position: fixed;
    padding: 0px;
    border: 1px solid black;
    height: 50px;
    width: 100%;
    background: gray;
    font-weight: bold;
    z-index: 100;
}

#menu li {
    color: white;
    background-color: gray;
    list-style-type: none;
    padding: 1px 10px 1px 10px;
    margin: 1px;
    position: relative;
}

#menu li.disabled {
    color: lightgray;
}

#menu span.menuSelect {
    color: #00ffea;
}

#menu > li {
    display: inline;
}

#menu .popup {
    position: absolute;
    background-color: black;
    margin: 1px;
    padding: 1px;
    left: 10px;
    width: 200px;
}

.showType {
    float: left;
    vertical-align:top;
    font-size: 8pt;
    color: black;
    background-color: lime;
}

.box {
    position: static;
    background: white;
    display: table;
    float: left;
    margin: 0px;
    padding: 0px;
}

.arg {
    float:left;
}

.box.selected {
    border: 1px solid black;
    background: gold;
}

.selected .box {
    background: gold;
}

.box.float {
    position: absolute;
    border: 1px solid black;
    box-shadow: 3px 5px 3px 2px #000;
}

.box.float.dragged {
    pointer-events: none;
}

.box.error {
    border: 2px solid red;
    margin: 3px;
    box-shadow: 0px 0px 3px 2px red;
}

.box.arg {
    border: 1px solid gray;
    padding: 0px 15px 0px 15px;
    margin: 1px 2px 1px 2px;
    color: gray;
}

.box.text {
    padding: 0px 2px 0px 2px;
    margin: 0px 1px 0px 1px;
    font-weight: bold;
}

.box-text {
    float: left;
    margin: 0px 2px 0px 2px;
}

.box-body > .arg {
    clear: both;
    margin: 2px 1px 2px 20px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#dataview {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 960px;
    height:500px;
    border: 1px solid red;
}