body {
    font-family: Arial;
    margin: 0px;
}

#canvas {
    margin: 10px;
    font-family: CourierNew;
}

#menubar {
    position: fixed;
    padding: 0px;
    border: 1px solid black;
    height: 50px;
    width: 100%;
    background: gray;
    font-weight: bold;
}

#menu li {
    color: white;
    list-style-type: none;
    padding: 0 10px 0 10px;
}

#menu li.disabled {
    color: lightgray;
}

#menu > li {
    display: inline;
}

.box {
    position: static;
    background: white;
    display: table;
    float: left;
    margin: 0px;
}

.box.selected {
    border: 1px solid black;
    background: gold;
}

.selected .box {
    background: gold;
}

.box.float {
    position: absolute;
    border: 1px solid black;
    box-shadow: 3px 5px 3px 2px #000;
}

.box.error {
    border: 2px solid red;
    margin: 3px;
    box-shadow: 0px 0px 3px 2px red;
}

.box.arg {
    border: 1px solid gray;
    padding: 0px 15px 0px 15px;
    margin: 1px 2px 1px 2px;
    color: gray;
}

.box.text {
    padding: 0px 2px 0px 2px;
    margin: 0px 1px 0px 1px;
    font-weight: bold;
}

.box-body > .box {
    clear: both;
    margin: 1px 0 3px 20px;
}

.box-text {
    float: left;
    margin: 0px 2px 0px 2px;
}


.box-else {
    clear: both;
    margin: 0;
}