body {
    font-family: Arial;
    margin: 0px;
}

#canvas {
    margin: 10px 10px 100px 10px;
    position: absolute;
    top: 50px;
    left: 10px;
    width: 100%;
    height: 100%;
}

#menubar {
    position: fixed;
    padding: 0px;
    height: 50px;
    width: 100%;
    background: navy;
    color: white;
    font-weight: bold;
    z-index: 100;
}

#menu li {
    color: white;
    border-radius: 10px;
    list-style-type: none;
    padding: 1px 10px 1px 10px;
    margin: 1px 2px 1px 2px;
    position: relative;
}

#menu li.builtin {
    color: khaki;
}

#menu li.disabled {
    color: gray;
}

#menu span.menuSelect {
    color: limegreen;
}

#menu > li {
    display: inline;
}

#menu .popup {
    position: absolute;
    margin: 1px;
    padding: 1px;
    left: 10px;
    width: 200px;
}

#menu .popup li {
    background-color: white;
    color: navy;
    border: 1px solid navy;
    box-shadow: 2px 3px 1px 1px navy;
}

.box {
    position: static;
    display: table;
    float: left;
    margin: 0px;
    padding: 0px;
}

.arg {
    float:left;
}

.box {
    border-radius: 5px;
}

.box.selected {
    padding: 1px;
    background: gold;
    background: linear-gradient(top, gold 0%, orange 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(gold), to(orange));
    background: -moz-linear-gradient(top,  gold,  orange); 
}

.box.float, .box.sample {
    border: 1px solid maroon;
    border-radius: 10px;
    box-shadow: 3px 5px 3px 2px rgba(128, 0, 0, 0.5);
    padding: 3px;
    z-index: 50;
    float:none;
}
.box.float {
    position: absolute;
}
.box.float:not(.selected), .box.sample {
    background: moccasin;
}

.box.float.dragged {
    pointer-events: none;
}

.box.error {
    border: 2px solid red;
    margin: 3px;
    box-shadow: 0px 0px 3px 2px red;
}

.runtime-error {
    border: 2px solid purple;
    margin: 3px;
    box-shadow: 0px 0px 5px 5px rgba(128,0,92,0.5);
}

.runtime-message {
    position: absolute;
    background-color: rgba(128,0,92,0.8);
    border-radius: 10px;
    padding: 3px;
    color: white;
    pointer-events: none;
}
:not(.selected) + .runtime-message {
    display: none;
}

.box.arg {
    border: 1px solid purple;
    padding: 0px 15px 0px 15px;
    color: purple;
    font-style: italic;
    border-radius: 10px;
}

.box-text {
    color: coral;
    float: left;
    margin: 0px 2px 0px 2px;
}

.box.box-text {
    color: black;
}

.comment.box-text {
    margin: 8px 0 2px 2px;
    color: darkgreen;
    float: none;
}

.collapsed .comment.box-text {
    padding: 3px;
    color: white;
    background-color: darkgreen;
    border-radius: 5px;
}

.keyword.box-text {
    font-weight: bold;
    color: indigo;
}

.box-body > .arg {
    clear: both;
    margin: 1px 1px 0px 20px;
}

.collapsed :not(.comment) {
    display: none;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}
